.titleBar {
  height: 80px;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
}

.selectSet {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.static {
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-weight: 600;
}

.nameInput {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 60%;
  color: #999999;
  border-radius: 5px;
}
